

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div style="background-color:antiquewhite; height:50px"></div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color:antiquewhite; height:50px">
    </footer>
</body>
</html>
